<h2>Dashboard</h2>
<div class="container-fluid">
    <div class="row">
        <article class="col-lg-4 col-md-6 my-3">
            <div class="card shadow-sm">
                <div class="row no-gutters p-4">
                    <div class="col-4">
                        <i class="fad fa-book fa-3x"></i>
                    </div>
                    <div class="col-8">
                        <h5>Books</h5>
                        <p>120</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-lg-4 col-md-6 my-3">
            <div class="card shadow-sm">
                <div class="row no-gutters p-4">
                    <div class="col-4">
                        <i class="fad fa-users fa-3x"></i>
                    </div>
                    <div class="col-8">
                        <h5>Customers</h5>
                        <p>1200</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-lg-4 col-md-6 my-3">
            <div class="card shadow-sm">
                <div class="row no-gutters p-4">
                    <div class="col-4">
                        <i class="fad fa-hand-holding-usd fa-3x"></i>
                    </div>
                    <div class="col-8">
                        <h5>Rental Cost</h5>
                        <p>{{1200000 | currency:"IDR":"symbol"}}</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-lg-4 col-md-6 my-3">
            <div class="card shadow-sm">
                <div class="row no-gutters p-4">
                    <div class="col-4">
                        <i class="fad fa-receipt fa-3x"></i>
                    </div>
                    <div class="col-8">
                        <h5>Transaction</h5>
                        <p>80</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>