<div class="row">
    <div class="col">
        <h2 id="titlePage">Add Transaction</h2>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-10 col-sm-12">
        <form id="transactionForm">
            <div class="form-group row">
                <label for="bookSelect" class="col-sm-2 col-form-label">Book</label>
                <div class="col-sm-10">
                    <select class="form-control" id="bookSelect">
                        <option selected disabled value="">Choose Book</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="rentalDays" class="col-sm-2 col-form-label">Rental Days</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="rentalDays">
                </div>
            </div>
            <div class="form-group row no-gutters">
                <div class="col-sm-2 offset-sm-10">
                    <button id="btnAddBook" type="button" class="btn btn-sm btn-outline-primary">
                        <i class="fal fa-plus-circle"></i> Add Book
                    </button>
                </div>
            </div>
            <h5>Customer</h5>
            <div class="form-group row">
                <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fullName">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="address"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>