<article class="container">
    <div class="row justify-content-center align-content-center text-center h-100vh">
        <div class="col-12">
            <img src="assets/img/undraw_page_not_found.svg" alt="" srcset="">
        </div>
        <div class="col-12 mt-5">
            <h2>Sorry, the page you want access is not available.</h2>
        </div>
        <div class="col-12">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">Back to main page.</a>
        </div>
    </div>
</article>