/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h5 {
  color: #094067;
}

body {
  color: #5f6c7b;
  background-color: #fffffe;
}

.h-100vh {
  height: 100vh;
  width: auto;
}
